h1,
h2,
h3 {
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: lightgray;
  border: 0;
  border: none;
}

tr:hover {
  background-color: rgb(255, 255, 132);
}

th {
  background-color: white;
  text-align: center;
}

td {
  padding: 1em 2em;
  border: none;
}

.guest-table {
  width: fit-content;
  margin: 0 auto;
  text-align: left;
}

.guest-table p {
  font-weight: bold;
}

.guest-details div {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  text-align: left;
}

.guest-details div p {
  margin: 0.5em;
}

.guest-details div p:nth-child(odd) {
  font-weight: bold;
}

.guest-details button {
  display: block;
  margin: 4em auto;
  margin-top: 1em;
  cursor: pointer;
  min-width: 8em;
  min-height: 2em;
}
